html,
body {
	background-color: #21232a;
	color: white;
	font-size: 1.3rem;
	font-family: Helvetica, Arial, sans-serif;
	padding: 70px;
	text-align: center;
}

h2 {
	font-size: 100px;
	margin: 70px;
}

button {
	font-size: 1.3rem;
	font-weight: bold;
	margin-right: 10px;
	padding: 20px;
	cursor: pointer;
}
